/* application css */
body {margin:0px;}
#main {font-size:200%;}
.warning {background:red;color:yellow;}
.hl {color:red;}
.coll {color:darkblue;font-family: Microsoft JhengHei;}
.version {color:brown;font-size:80%}
.lib {font-size:70%;}
.page {color:green;font-size:70%}
.title {color:darkgreen;}
.juan{color:darkgreen;}
.title_hl {color:white;background:#7f7fff;}
.cat {color:brown}

.author{color:teal;cursor:pointer;font-family: DFKai-SB}
.dyn{color:gray;font-size:60%;}
.floatinginput{border-radius:5px;position:fixed;z-index:200 ;left:200px;top:5px;opacity:0.8}
.floatingColl{border-radius:5px;background:silver;color:darkblue;font-family: DFKai-SB;
	position:fixed;z-index:200 ;right:20px;top:5px;opacity:0.8;font-size:120%;}
.category{font-size:80%;background:silver;}
.oldtofind{text-decoration:underline;cursor:pointer;color:blue;}
.clickable_cat{text-decoration:underline;cursor:pointer;color:blue;}